body{
   background-color: green;
}
.grid-container{
   display:grid;
   grid-template-columns:repeat(8,50px)  ; /*8 grids,damit man die nächste reihe um enen grid verschieben kann */
   grid-template-rows:repeat(4,100px);/*ganz normal 4 reihen -> 4 grids*/
   align-items: center;
   justify-content: center;
   margin-top:15%;

}
 img:hover{
   border: yellow 2px solid;
   cursor:pointer;
}
#grid-item1{
   grid-column-start:1;
   grid-column-end:3;
   grid-row:4/5;
}
#grid-item2{
   grid-column-start:3;
   grid-column-end:5;
   grid-row:4/5;
}
#grid-item3{
   grid-column:5/7 ;
   grid-row:4/5;
}
#grid-item4{
   grid-column:7/9 ; /*Das sind die vier unteren */
   grid-row:4/5;
}
#grid-item5{
   grid-column:2/4 ;
   grid-row:3/4;
}
#grid-item6{
   grid-column:4/6 ;
   grid-row:3/4;
}
#grid-item7{
   grid-column:6/8 ;
   grid-row:3/4;
} /*die drei da drüber*/
#grid-item8{
   grid-column:3/5 ;
   grid-row:2/3;
}
#grid-item9{
   grid-column:5/7 ;
   grid-row:2/3;
}/*zwei in der zweiten reihe*/
#grid-item10{
   grid-column:4/6 ;
   grid-row:1/2;
} /*die letzte oben */